.footer {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    margin-top: 56px;
    background-color: #d7d7d7;
}

.imagen {
    max-width: 70px;
}