.nav-bar{
    display: flex;
    align-items: center;
    min-height: 70px;
    border-bottom: 2px solid black;
    gap: 10px;
    justify-content: space-around;
    background-color: #d7d7d7;
    margin-bottom: 56px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-logo{
    max-width: 50px;
    border: 1px solid black;
    
}

.nav-elements {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.link-nav{
    text-decoration: none;
    color:inherit;
}