.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.img-principal {
   
}

.specie-card{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    justify-content: center;
    align-items: center;
}