.plants-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.plants-img{
    max-width: 400px;
    max-height: 400px;
}

.text-plants{
    text-align: center;
}

.edit-button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
}