.plants-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.plants-img{
    max-width: 400px;
    max-height: 400px;
}

.text-plants{
    text-align: center;
    
}