.species-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.species-image{
    width: 250px;
}

.card-plants{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.plant-image{
    width: 100px;
}